.ipynb_checkpoints/
data/
Documents/
radeks_code/
run.sh
NumbaQuadpack/
NumbaLogQuadpack/
.vscode/
__pycache__/
outputs/
SLURM_Outputs/
radek.py
results/
jax_stuff/
old_scripts/
talks/
figures/
src/__pycache__/
src/bayesnova/bayesnova.egg-info/